@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@layer utilities {
  .bg-dark {
    background-color: #030315;
  }
  .bg-dark2 {
    background-color: #21212A;
  }
  .bg-dark3 {
    background-color: #454655;
  }
  .bg-primary {
    background-color: #F78C7E;
  }
  .border-dark3 {
    border-color: #32323e; 
  }
  .border-primary {
    border-color: #F78C7E;
  }
  .text-primary {
    color: #F78C7E;
  }
  .text-gray {
    color: #bdbdca;
  }
  .image{
    flex:1;
    height: undefined;
    width: undefined;
 }
}

:root {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --color-dark: #070715;
  --color-dark2: #21212A;
  --color-dark3: #454655;
  --color-primary: #F78C7E;
  --color-primary-hover: #ff9980;
  --color-gray: #A9AABC;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6,
.font-heading {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Helvetica Neue', sans-serif;
}
